--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
altair
beautifulsoup
inmoose
jupyter
matplotlib
numpy
pandas
polars
pyarrow
scikit-image
scikit-learn
tomlkit
scipy
seaborn
sympy
rdkit
opencv-python
statsmodels
networkx
requests
umap-learn